
@container content-container (min-width: 0px) {
    .cards-container {
        margin: 0 auto;
        width: fit-content;
        height: fit-content;
        padding: 10px auto;
        display: grid;
        grid-template-columns: repeat(1, 400px);
        grid-auto-rows: 10px;
    }    
}

@container content-container (min-width: 820px) {
    .cards-container {
        margin: 0 auto;
        height: fit-content;
        width: fit-content;
        padding: 10 auto;
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-auto-rows: 10px;
    }    
}

@container content-container (min-width: 1220px) {
    .cards-container {
        margin: 0 auto;
        height: fit-content;
        width: fit-content;
        padding: 10 auto;
        display: grid;
        grid-template-columns: repeat(3, 400px);
        grid-auto-rows: 10px;
    }    
}

@container content-container (min-width: 1620px) {
    .cards-container {
        margin: 0 auto;
        height: fit-content;
        width: fit-content;
        padding: 10 auto;
        display: grid;
        grid-template-columns: repeat(4, 400px);
        grid-auto-rows: 10px;
    }    
}

/* @container content-container (min-width: 800px) {
    .cards-container {
        margin: 0 auto;
        height: fit-content;
        width: fit-content;
        padding: 10 auto;
        display: grid;
        grid-template-columns: repeat(2, 400px);
        grid-auto-rows: 10px;
    }    
} */

.card {
    position: relative;
    width: 350px;
    height: fit-content;
    max-height: 380px;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 20px auto;
    box-shadow: 0px 0px 6px rgb(198, 198, 198);
    cursor: pointer;
    padding-bottom: 15px;
}

.card:hover {
    box-shadow: 0 0 5px rgb(161, 161, 161);
}

.card-close-btn {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(30%, -30%);
    display: flex;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding-bottom: 2px;
    justify-content: center;
    align-items: center;
    display: none;
    box-shadow: 0px 0px 5px black;
}

.card:hover .card-close-btn {
    display: flex;
}

.card:hover .card-close-btn:hover {
    background-color: rgb(58, 58, 58);
}

.card .card-name {
    width: 100%;
    max-width: 100%;
    display: block;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
    text-align: center;
    padding: 7px 10px 0px;
    background-color: rgba(0, 0, 0, 0.05);
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card .card-text {
    background-color: rgba(0 ,0 ,0 ,0);
    border: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0 20px;
    width: 100%;
    resize: none;
    margin-top: 20px;
    cursor: pointer;
    overflow: hidden;
}

.card .card-text:disabled {
    color: black;
}

.card-edit-bg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0 ,0 ,0 ,0.2);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

.card-edit-form {
    width: 400px;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 0px 8px gray;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 15px 0 55px 15px;
    position: relative;
}

.card-edit-text {
    width: 100%;
    resize: none;
    height: 300px;
    min-height: 300px;
    border: none;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    background-color: rgba(0,0,0,0);
}

.edit-card-name {
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(0 ,0 ,0 ,0);
    border: none;
    border-bottom: 2px solid black;
    width: 180px;
    padding: 0 5px;
    margin-right: 20px;
}

.card-edit-panel {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: rgba(0 ,0 ,0 , 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-card-warning-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0 ,0 ,0 , 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 200;
}

.delete-card-warning {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 8px gray;
    width: 500px;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 20px;
}

.card-delete-warning-msg {
    text-align: center;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-warning-btns-container {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}